.App {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.pickle-color {
  color: #26ff91;
  font-size: 30px;
  text-align: center;
}
body {
  background-color: #0e1d15;
}
.container {
  border: #26ff91 2px solid;
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.info {
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-name {
  font-size: 20px;
}
.info-value {
  font-size: 20px;
}

.table-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  border: #26ff91 2px solid;
  color: white;
  margin: 0 auto;
  margin-top: 25px;
}
.pool-info{
  display: flex;
  flex-direction: column;
  width: 150px;

  color: white;
}
.red {
  color: red !important;
}
.blue {
  color: lightblue !important;
}
.pickle-title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 30px;
}
.pool {
  padding-left: 30px;
  display: inline-block;

}

.label {
  text-decoration: underline;
  font-size: 20px;
  color: white;
  padding-right: 30px;
  display: inline-block;
  width: 100px;
}
.total {
  font-weight: bold;
}
.tvl-info {
  display: flex;
  flex-direction: column;
  color: #26ff91;
}
.jars {
  color: white;
  padding-right: 30px;
  display: inline-block;
  width: 100px;
}
.perc {
  background-color: green;
}
.green {
  color: #26ff91 !important;
}